@CHARSET "ISO-8859-1";
#m1{
	text-shadow: 0 0 5px brown;
	color:white; 
	text-decoration: none;
	font-size:25px; 
	margin-left: auto;
	margin-right: auto;
}
#m2{
	text-shadow: 0 0 5px brown;
	color:white; 
	text-decoration: none;
	font-size:25px; 
	margin-left:auto;
	margin-top: auto;
}
body {
       background-image: linear-gradient(20deg, green 0%, aqua 90%);
       background-attachment: fixed;
       background-size: 100% 100%;
       background-repeat: no-repeat;
            }		
#t0{
	margin: auto;
}
#h1{
	text-shadow: 0 0 17px black,0 0 17px black;
	color:white; 
	font-size:54px; 
	font-weight: bold; 
    margin: auto;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	
}

#h2{
	color:white; 
	font-size:40px; 
	font-weight: normal; 
	padding: auto;
    text-shadow: 0 0 17px black,0 0 16px black, 0 0 15px brown;
    margin: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	text-align: center;
}
#t1{
    margin-left: 25%;
	margin-right: 25%;
}
#s1{
	background-image: url("nglight.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
	box-shadow: 0 0 15px black,0 0 15px black,0 0 15px black,0 0 15px black;
	text-shadow: 0 0 7px black,0 0 7px black,0 0 7px black;
	color:white; 
	font-size:44px; 
	font-weight: bold; 
	padding: 5px;
	border-radius: 32px;
    margin: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: 8%;
	opacity: 0.8;
	border-width: 7px;
	border-color: white;
    border-style: ridge;
	text-align: center;
	
}
#s2{
	background-image: url("light.gif");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0 0 25px black,0 0 25px black,0 0 25px black,0 0 25px black;
	text-shadow:0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black,0 0 5px black;
	font-weight: 600;
	color:white; 
	font-size:23.5px; 
	font-family: "Times New Roman";
	padding: 10px;
	margin: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: 2%;
	opacity: 0.75;
    border-width: 7px;
	border-color: white;
    border-style: ridge;
	text-align: center;
}
 footer {
	  margin-left: auto;
	  text-align: center;
          margin-top: 5%;
            }
#cc{
	text-shadow: 0 0 5px black;
	color:white;  
	font-size:14px; 
	margin-left: auto;
	margin-bottom: auto;
	text-decoration: none;
}
#bt{
	margin-left: auto;
	margin-bottom : auto;
}
 #b1 {
    background-image: url("nglight.jpg");
    background-repeat: no-repeat;
    color: #50D050;
	box-shadow: 0 0 17px black;
            }
 #b2 {
    background-image: url("nglight.jpg");
    background-repeat: no-repeat;
    color: #FE9A2E;
	box-shadow: 0 0 17px black;
            }
 #b3 {
    background-image: url("nglight.jpg");
    background-repeat: no-repeat;
    color: #00BFFF;
	box-shadow: 0 0 17px black;
            }

					
#m3{
	text-shadow: 0 0 5px brown;
	color:white; 
	text-decoration: none;
	font-size:25px; 
	margin-left:auto;
	margin-top: auto;
}

#subbutt{
	display: inline-block;
  border-radius: 17px; 
  border-width: 4px;
  background-color: Transparent;
  border-color: #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 15px black,0 0 15px black,0 0 15px black,0 0 15px black;
}

#t9{
    margin-left: 25%;
	margin-right: 25%;
}
#s9{
	background-image: url("nglight.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
	box-shadow: 0 0 15px black,0 0 15px black,0 0 15px black,0 0 15px black;
	text-shadow: 0 0 7px black,0 0 7px black,0 0 7px black;
	color:white; 
	font-size:44px; 
	font-weight: bold; 
	padding: 5px;
	border-radius: 32px;
    margin: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: 8%;
	border-width: 7px;
	border-color: white;
    border-style: ridge;
	text-align: center;
	
}

#m4{
	text-shadow: 0 0 5px brown;
	color:white; 
	text-decoration: none;
	font-size:25px; 
	margin-left:auto;
	margin-top: auto;
}
#alpha{
	background-image: url("nglight.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
	box-shadow: 0 0 15px black,0 0 15px black,0 0 15px black,0 0 15px black;
	text-shadow: 0 0 7px black,0 0 7px black,0 0 7px black;
	color:white; 
	font-size:32px; 
	font-weight: bold; 
	padding: 5px;
	border-radius: 32px;
    margin: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: 8%;
	border-width: 4px;
	border-color: white;
    border-style: ridge;
	text-align: left;
}
